<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Panel</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/css/business-casual.css" th:href="@{/css/business-casual.css}">
        <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/main.css}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
          $( function() {
            $( "#tabs" ).tabs();
          } );
          </script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="container theme-showcase">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Geodes and Gemstones</h3>
            </div>
            <div class="panel-body">
                Administration panel for Geodes and Gemstones
                <a href="/logout"><div class="btn btn-danger" style="float: right;">logout</div></a>
            </div>
        </div>

        <div th:if="${submitSuccess}" class="alert alert-success" role="alert">Photo Submission Successful!</div>
        <div th:if="${deleteSuccess}" class="alert alert-success" role="alert">Database delete Successful!</div>

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Submit Photo</a></li>
                <li><a href="#tabs-2">Edit Database</a></li>
            </ul>
            <div id="tabs-1">
                <form action="#" th:action="@{/admin/submitPhoto}" th:object="${photoSubmit}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="databaseInputFile">Image File</label>
                        <input type="file" id="databaseInputFile" th:field="*{image}">
                        <span  class="help-block">Maximum image size is 1 megabyte</span>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" class="form-control"  placeholder="Required" th:field="*{name}">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Category</span>
                        <input type="text" class="form-control"  th:field="*{category}">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Region</span>
                        <input type="text" class="form-control" th:field="*{region}">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Color</span>
                        <input type="text" class="form-control" th:field="*{color}">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Comment</span>
                        <textarea type="text" class="form-control" placeholder="Required" th:field="*{comment}"></textarea>
                    </div>
                    <br />
                    <p><input class="btn btn-primary btn-lg" type="submit" value="Submit" /> <input class="btn btn-danger btn-lg" type="reset" value="Reset" /></p>
                </form>
            </div>
            <div id="tabs-2">

            <div class="container">
                <div th:each="photo : ${photos}">
                    <!-- Modal -->
                    <div class="modal fade" th:id="modal-delete+${photo.id}" tabindex="-1" >
                        <div class="modal-dialog" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">DELETE WARNING</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <span th:text="${photo.name}">ENTRY</span>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a th:href="@{'/delete?id=' + ${photo.id}}" type="button" class="btn btn-danger">DELETE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="admin-row">
                        <img style="height: 50px" th:src="${photo.url}" alt="">
                        <span th:text="${photo.name}"></span>
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#modal-delete'+${photo.id}" style="margin: 10px 0px 0px 5px;float: right;" >
                            Delete
                        </button>
                        <a th:href="@{'/admin/editPhoto?id=' + ${photo.id}}" type="button" class="btn btn-info" style="margin: 10px 0px 0px 5px;float: right;" >
                            Edit
                        </a>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
    </body>
</html>
