body {
    font-family: sans;
    font-size: 1em;
}

p.error {
    font-weight: bold;
    color: red;
}

div.logout {
    float: right;
}

.card {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-card {
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.auto-margin {
    margin: auto;
}

.btn {
    margin: 10px;
}

.info-box {
    padding: 10px;
    background-color: aliceblue;
    box-shadow: 5px 5px dodgerblue;
}

.contact-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 20px;
}